/* ============================================ HEADER - START ============================================ */

.header {
  width: 100vw;
  height: 9vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--base);
  margin-bottom: 2rem;
}

.header .logo {
  margin: 0 0 0 10vw;
  display: flex;
}

.header .logo img {
  width: 2.3vmax;
  height: auto;
  border-radius: 3px;
  margin-right: 10px;
}

.header .logo img:hover {
  cursor: pointer;
}

.header ul {
  list-style-type: none;
  margin: 0 10vw 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header ul li a {
  text-decoration: none;
  width: 100%;
  padding: 1vmin 0 1vmin 5vmin;
  font-size: 1vmax;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary);
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.header ul li a:hover {
  font-size: 1.2vmax;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  color: var(--primary);
}

.header .menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 120px;
}

.header .menu a {
  text-decoration: none;
  width: 100%;
  font-size: 1vmax;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--secondary);
  text-transform: uppercase;
  transition: all 0.2s ease;
  min-width: fit-content;
}

.header .menu a:hover {
  font-size: 1.2vmax;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  color: var(--primary);
}

.header button {
  display: none;
}

.temp-drawer {
  margin: 0.7rem;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {
  .header .logo {
    margin: 0 0 0 4vw;
    display: flex;
  }

  .header .logo img {
    width: 4.4vmax;
    height: auto;
    border-radius: 3px;
    margin: 30px 10px 0 5px;
  }

  .header .menu {
    display: none;
  }

  .header button {
    display: flex;
  }

  ul {
    background-color: #171717;
    color: #ffffff;
  }

  ul a {
    text-decoration: none;
  }
}

/* Responsiveness - End*/

/* ============================================ HEADER - END ============================================ */