/* ============================================ BASIC SETUP, FONTS & COLORS - START ============================================ */


:root {
  --base: black;
  --primary: #F1B900;
  --secondary: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bree+Serif&family=Holtwood+One+SC&family=Suez+One&family=Ultra&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

* {
  font-family: 'Outfit', sans-serif;
  /* font-family: 'Akaya Telivigala', cursive; */
  margin: 0;
  padding: 0;
}

.top-btn--icon {
  color: var(--base);
  font-size: 1.8rem;
  font-weight: bolder;
}

@keyframes fadeInOut {

  0%,
  100% {
    transform: translateY(-0.3rem);
  }

  50% {
    transform: translateY(0.3rem);
  }
}

.go-to-top {
  border-radius: 10%;
  animation: fadeInOut 2.5s linear infinite alternate-reverse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 1%;
  padding: 0.12% 0.4%;
  background-color: white;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* @media (max-width: 700px) {
  .go-to-top {
    hero-left: 40%;
    right: 0;
  }
} */

.mf-cursor-text {
  font-size: 0.9rem;
  font-style: italic;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Akaya Telivigala', cursive;
  font-weight: 100;

}

/* Some Colors */

/* background: linear-gradient(to right, #9837ff 0%, #2575fc 100%);
background-color: #F0B800;
background-color: #00FFF5;
background: linear-gradient(to right, #9837ff 0%, #2575fc 100%);
background-color: #4D77FF;
background: linear-gradient(to right, #9837ff 0%, #2575fc 100%);
background: linear-gradient(to right, #9837ff 0%, #2575fc 100%);
background-color: #0A4D68; */

/* ============================================ BASIC SETUP, FONTS & COLORS - END ============================================ */






/* ============================================ HEADER - START ============================================ */

/* DONE */

.header {
  width: 100vw;
  height: 9vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--base);
}

.header .logo {
  margin: 0 0 0 10vw;
  display: flex;
}

.header .logo img {
  width: 2.3vmax;
  height: auto;
  border-radius: 3px;
  margin-right: 10px;
}

.header .logo img:hover {
  /* width: 2.4vmax; */
  cursor: pointer;
}

.header ul {
  list-style-type: none;
  margin: 0 10vw 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header ul li a {
  text-decoration: none;
  width: 100%;
  padding: 1vmin 0 1vmin 5vmin;
  font-size: 1vmax;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary);
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.header ul li a:hover {
  font-size: 1.2vmax;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  color: var(--primary);
}

.header .menu {
  display: flex;
  /* margin-right: 70px; */
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 120px;
}

.header .menu a {
  text-decoration: none;
  width: 100%;
  font-size: 1vmax;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--secondary);
  text-transform: uppercase;
  transition: all 0.2s ease;
  min-width: fit-content;
}

.header .menu a:hover {
  font-size: 1.2vmax;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  color: var(--primary);
}

.header button {
  display: none;
}

/* Responsiveness - Start */
@media only screen and (max-width: 700px) {
  @media only screen and (max-width: 512px) {
    .header .menu {
      display: none;
    }

    .header button {
      display: flex;
    }

    ul {
      background-color: #171717;
      color: #ffffff;
    }

    ul a{
      text-decoration: none;
    }
  }
}
/* Responsiveness - End*/

/* ============================================ HEADER - END ============================================ */






/* ============================================  HERO - START ============================================ */

/* DONE */

.hero {
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--base);
}

.hero .hero-left {
  width: 40vw;
  margin: 0 0 0 10vw;
}

.hero .hero-left .title img {
  width: 20vw;
  height: auto;
}

.hero .hero-left .subtitle {
  color: var(--primary);
  font-family: "Bree Serif", serif;
  font-size: 2.7vw;
  font-weight: 900;
  letter-spacing: 0.35vmax;
}

.hero .hero-left .description {
  color: var(--secondary);
  font-size: 1.1vw;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin: 1.5vmin 0 5vmin 0;
  line-height: 1.7vw;
}

.hero .hero-left .description span {
  color: var(--primary);
  font-weight: 700;
}

.hero .hero-left .register-btn a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2vmax;
  font-weight: bolder;
  letter-spacing: 0.5px;
  padding: 0.7vmax 1vmax;
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
}

.hero .hero-left .register-btn a:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.hero .hero-right {
  width: 40vw;
  margin: 0 10vw 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.hero .hero-right img {
  width: 30vmax;
  height: auto;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {
  @media only screen and (max-width: 512px) {
    .hero {
      height: 58vh;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .hero .hero-left {
      width: 80%;
      text-align: center;
      margin: 0 0 2vmin 0;
    }

    .hero .hero-left .title img {
      width: 40vw;
    }

    .hero .hero-left .subtitle {
      font-size: 5.3vw;
    }

    .hero .hero-left .description {
      font-size: 2.4vw;
      line-height: 3.3vw;
    }

    .hero .hero-right {
      width: 80%;
      margin: 0 0 6vmin 0;
    }

    .hero .hero-right img {
      width: 24vmax;
      margin: auto;
    }
  }

  .hero .hero-left .register-btn a {
    font-size: 10px;
  }
}

/* Responsiveness - End */

/* ============================================ HERO - END ============================================ */






/* ============================================ FEATURE - START ============================================ */

/* DONE */

.feature {
  background-color: var(--base);
  height: 65vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5vmin 0 10vmin 0;
}

.feature .event-container {
  height: 60vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--secondary);
  border: 1px solid white;
  text-align: center;
}

.feature .event-container .event-info h1 {
  margin: 4vmin 0;
  font-size: 2.5vw;
  color: var(--secondary);
}

.feature .event-container .event-info h2 {
  margin: 2vmin 0;
  font-size: 2vw;
  color: var(--primary);
  font-weight: bolder;
}

.feature .event-container .event-info p {
  margin: 0.7vmin 0;
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.feature .event-container a {
  text-decoration: none;
  margin: 2.5vmin 0 6vmin 0;
  padding: 1.2vmin 2vmin;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 0.3px;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.3s ease;
}

.feature .event-container a:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.feature .explore-container {
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.feature .explore-container h1 {
  margin: 0 0 2vmin 0;
  font-size: 2.5vw;
  color: var(--primary);
}

.feature .explore-container .news-letter-hashnode,
.feature .explore-container .write-blog,
.feature .explore-container .suggestion-box,
.feature .explore-container .follow-hashnode {
  width: 60%;
  margin: 1.6vmin 0;
  padding: 1.2vmin 2vmin;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid var(--secondary);
  font-size: 1.1vw;
}

.feature .explore-container .news-letter-hashnode a,
.feature .explore-container .write-blog a,
.feature .explore-container .suggestion-box a,
.feature .explore-container .follow-hashnode a {
  text-decoration: none;
  color: var(--secondary);
}

.feature .explore-container .news-letter-hashnode:hover,
.feature .explore-container .write-blog:hover,
.feature .explore-container .follow-hashnode:hover,
.feature .explore-container .suggestion-box:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.feature .explore-container .news-letter-hashnode i,
.feature .explore-container .write-blog i,
.feature .explore-container .follow-hashnode i,
.feature .explore-container .suggestion-box i {
  margin: 0 1.5vmin;
}

.feature .explore-container .socials {
  width: 60%;
  margin: 2.5vmin 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 1.5vw;
}

.feature .explore-container .socials a {
  color: var(--primary);
  text-decoration: none;
}

.feature .explore-container .socials i:hover {
  cursor: pointer;
  position: relative;
  bottom: 1px;
  color: var(--secondary);
}

/* Responsiveness - Start */

@media only screen and (max-width: 600px) {
  .feature {
    width: 100%;
    flex-direction: column;
  }

  .feature .event-container {
    width: 80vw;
  }

  .feature .event-container .event-info h1 {
    font-size: 6vw;
  }

  .feature .event-container .event-info h2 {
    font-size: 4.4vw;
  }

  .feature .event-container .event-info p {
    font-size: 3vw;
  }

  .feature .event-container a {
    font-size: 3vw;
  }

  .feature .explore-container {
    width: 80vw;
    padding: 10vmin 0 6vmin 0;
  }

  .feature .explore-container h1 {
    font-size: 6vw;
  }

  .feature .explore-container .news-letter-hashnode,
  .feature .explore-container .write-blog,
  .feature .explore-container .suggestion-box,
  .feature .explore-container .follow-hashnode {
    margin: 2vmin 0;
    padding: 2vmin 2vmin;
    width: 48%;
    font-size: 3vw;
  }

  .feature .explore-container .socials {
    width: 48%;
    font-size: 4.5vw;
  }
}


/* Responsiveness - End */

/* ============================================ FEATURE - END ============================================ */






/* ============================================ ABOUTLOL - START ============================================ */



/* ============================================ ABOUTLOL - END ============================================ */

.about-lol {
  display: flex;
  flex-direction: column;
  background-color: var(--base);
}

.about-lol .about-lol-heading {
  width: 80vw;
  font-size: 5vw;
  font-weight: 900;
  color: crimson;
  text-align: center;
  margin: 4vmin auto 0 auto;
}

.about-lol .about-lol-sub-heading {
  width: 80vw;
  font-size: 1.3vw;
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
  margin: 0 auto 0 auto;
}

.about-lol .about-lol-content {
  display: flex;
  flex-direction: row;
  background-color: var(--base);
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3.7vmin 0 6vmin 0;
}


.about-lol .about-lol-content .about-lol-content-img img {
  width: 22vw;
  height: auto;
  /* border-top-left-radius: 30%; */
  /* border-bottom-right-radius: 30%; */
  border-radius: 5%;
  margin-bottom: 1.5vmin;
  margin-top: 4.5vmin;
  margin: 4.5vmin 10vmin 1.5vmin 10vmin;
}

.about-lol .about-lol-content .about-lol-content-text {
  color: var(--secondary);
  text-align: center;
  font-size: 3vw;
  font-weight: 500;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {

  .about-lol .about-lol-heading {
    font-size: 9vw;
  }

  .about-lol .about-lol-sub-heading {
    font-size: 3vw;
  }

  .about-lol .about-lol-content {
    flex-direction: column;
  }


  .about-lol .about-lol-content .about-lol-content-img img {
    width: 50vw;
    margin-top: 10vmin;
  }

  .about-lol .about-lol-content .about-lol-content-text {
    font-size: 7vw;
    margin-bottom: 10vmin;
  }

}

/* Responsiveness - End */

/* ============================================ OVERVIEW - START ============================================ */

.overview {
  display: flex;
  flex-direction: column;
  background-color: var(--base)
}

.overview .overview-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: justify;
}

.overview .overview-container .overview-container-top {
  width: 100%;
  margin: 5vmin 0;
  padding: 4vmin 0;
  border: 1px solid crimson;
}

.overview .overview-container .overview-container-top h2 {
  font-size: 2.3vw;
  color: crimson;
  text-align: center;
  margin-bottom: 3vmin;
}

.overview .overview-container .overview-container-top .events {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.overview .overview-container .overview-container-top .events p {
  text-decoration: none;
  width: 14vw;
  padding: 1.3vmin 0;
  margin: 2vmin;
  color: white;
  font-size: 1.3vw;
  text-align: center;
  border-radius: 2px;
  border: 1px solid white;
}

.overview .overview-container .overview-container-top .events p i {
  font-size: 1.2vmax;
  margin: 0 1vmin 0 0;
}

.overview .overview-container .overview-container-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid var(--primary);
  margin: 5vmin 0 10vmin 0;
}

.overview .overview-container .overview-container-bottom .overview-container-bottom-left {
  width: 33vw;
  height: auto;
  padding: 5vmin;
  color: var(--secondary);
}

.overview .overview-container .overview-container-bottom .overview-container-bottom-left h2 {
  font-size: 2vw;
  color: var(--primary);
  font-weight: bolder;
}

.overview .overview-container .overview-container-bottom .overview-container-bottom-left p {
  padding: 1.5vmax 0;
  font-size: 1.15vmax;
  color: var(--secondary);
  letter-spacing: 0.3px;
  font-weight: 300;
}

.overview .overview-container .overview-container-bottom .overview-container-bottom-right {
  width: 33vw;
  height: auto;
  padding: 5vmin;
  color: var(--secondary);

}

.overview .overview-container .overview-container-bottom .overview-container-bottom-right h2 {
  font-size: 2vw;
  color: var(--primary);
  font-weight: bolder;
}

.overview .overview-container .overview-container-bottom .overview-container-bottom-right p {
  padding: 1.5vmax 0;
  font-size: 1.15vmax;
  color: var(--secondary);
  letter-spacing: 0.3px;
  font-weight: 300;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {



  .overview .overview-container .overview-container-top {
    margin: 5vmin 0 2vmin 0;
  }

  .overview .overview-container .overview-container-top h2 {
    padding: 0 4vmin;
    font-size: 4vw;
  }

  .overview .overview-container .overview-container-top .events {
    flex-wrap: wrap;
  }

  .overview .overview-container .overview-container-top .events p {
    width: 25vw;
    font-size: 2.3vw;
    border-radius: 0.5px;
  }

  .overview .overview-container .overview-container-top .events p i {
    font-size: 1.2vmax;
    margin: 0 1vmin 0 0;
  }

  .overview .overview-container .overview-container-bottom {
    flex-direction: column;
  }

  .overview .overview-container .overview-container-bottom .overview-container-bottom-left {
    width: 65vw;
    padding: 5vmin 0 0 0;
  }

  .overview .overview-container .overview-container-bottom .overview-container-bottom-left h2 {
    font-size: 4.5vw;
  }

  .overview .overview-container .overview-container-bottom .overview-container-bottom-left p {
    padding: 1.5vmax 0;
    font-size: 1.1vmax;
  }

  .overview .overview-container .overview-container-bottom .overview-container-bottom-right {
    width: 65vw;
    padding: 2vmin 0;
  }

  .overview .overview-container .overview-container-bottom .overview-container-bottom-right h2 {
    font-size: 4.5vw;
  }

  .overview .overview-container .overview-container-bottom .overview-container-bottom-right p {
    width: 65vw;
    padding: 5vmin 0;
  }

}

/* Responsiveness - End */

/* ============================================ OVERVIEW - END ============================================ */






/* ============================================ MISSION - END ============================================ */

.mission {
  width: 100%;
  padding: 3vmin 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--base);
}

.mission .mission-title {
  width: 80%;
  font-size: 2vmax;
  font-weight: 900;
  color: crimson;
  padding-bottom: 7px;
  border-bottom: 0.4vmax solid crimson;
  text-align: left;
}

.mission .mission-content {
  width: 80%;
  height: 36vh;
  padding: 3vmin 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.mission .mission-right img {
  height: 32vmin;
  width: auto;
  border: 1px solid white;
}

.mission .mission-left {
  height: 34vmin;
  padding: 0 7vmin 0 0;
}

.mission .mission-left ul li {
  list-style-type: none;
  margin: 1.2vmin 0 0 0;
  color: var(--secondary);
  font-size: 1.3vmax;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.mission .mission-left ul li i {
  list-style-type: none;
  color: crimson;
  margin-right: 1.5vmin;
  font-size: 1.2vmax;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {

  .mission .mission-content {
    flex-direction: column-reverse;
  }

  .mission .mission-right img {
    height: 32vmin;
    width: auto;
    border: 1px solid white;
    margin: 3vmin 0;
  }

  .mission .mission-left {
    padding: 0 0 0 0;
    margin: 0 0;
  }

  .mission .mission-left ul li {
    font-size: 1.1vmax;
  }

  .mission .mission-left ul li i {
    margin-right: 1vmin;
    font-size: 1.8vw;
  }

}

/* Responsiveness - End */


/* ============================================ MISSION - END ============================================ */






/* ============================================ VISION - START ============================================ */

.vision {
  width: 100%;
  padding: 5vmin 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--base);
}

.vision .vision-title {
  width: 80%;
  font-size: 2vmax;
  font-weight: 900;
  color: var(--primary);
  padding-bottom: 7px;
  border-bottom: 0.4vmax solid var(--primary);
  text-align: right;
  margin-top: 2vmin;
}

.vision .vision-content {
  width: 80%;
  padding: 3vmin 0 8vmin 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--base);
  text-align: justify;
}

.vision .vision-left img {
  width: 20vw;
  height: auto;
  margin-top: 3vmin;
  border: 1px solid white;
}

.vision .vision-right {
  width: 55vw;
  margin-top: 3vmin;
  color: var(--secondary);
  font-size: 1.15vmax;
  letter-spacing: 0.3px;
  font-weight: 300;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {

  .vision .vision-title {
    width: 80%;
    font-size: 2vmax;
    font-weight: 900;
    color: var(--primary);
    padding-bottom: 7px;
    border-bottom: 0.4vmax solid var(--primary);
    text-align: right;
    margin-top: 2vmin;
  }

  .vision .vision-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .vision .vision-left img {
    width: 40vw;
  }

  .vision .vision-right {
    width: 100%;
    margin-top: 6vmin;

  }
}

/* Responsiveness - End */

/* ============================================ VISION - END ============================================ */






/* ============================================ EVENTS - START ============================================ */

.events-content {
  padding: 6vmin 0 8vmin 0;
  background-color: var(--base);
}

.events-content .section-heading {
  width: 80vw;
  margin: 0 auto 4vmin auto;
  font-size: 2vw;
  text-align: center;
  color: var(--primary);

}

.events-content .events-type-description {
  width: 80vw;
  margin: 0 auto 4vmin auto;
  color: var(--secondary);
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 1.05vw;
}

.events-content .events-card-container {
  width: 80vw;
  margin: 0 auto 2vmin auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  transition: 0.3s;
  border-radius: 5px;
}

.events-content .events-card-container .card {
  width: 20vw;
  padding: 15px;
  border: 0.6vmin solid #171717;
  background-color: var(--base);
  color: var(--secondary);
  margin-bottom: 4vmin;
  margin-right: 4vmin;
  transition: all 0.5s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-content .events-card-container .card:hover {
  cursor: pointer;
}

.events-content .events-card-container .card img {
  width: 20vw;
  height: auto;
  margin: 0 auto 3vmin auto;
}


/* ==================================== Caraousel ================================================= */
.caraousel .card {
  width: 20vw;
  padding: 15px;
  border: 0.6vmin solid #171717;
  background-color: var(--base);
  color: var(--secondary);
  margin-bottom: 4vmin;
  margin-right: 4vmin;
  transition: all 0.5s ease 0s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.caraousel li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caraousel .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary);
  padding-top: 30px;
}

.card .container p {
  font-size: 0.9vw;
  font-weight: normal;
  margin-bottom: 1.2vmin;
  text-align: center;
}

.card .container h4 {
  font-weight: 600;
  font-size: 1.5vw;
  text-align: center;
}

.card .container .action-btn {
  text-decoration: none;
  border: none;
  background-color: var(--base);
  padding: 1.5vmin;
  margin: 3.5vmin 0 2vmin 0;
}

.card .container .action-btn a {
  text-decoration: none;
  font-size: 1.2vw;
  background-color: var(--base);
  padding: 1.15vmin 3vmin;
  transition: all 0.5s ease 0s;
  border: 0.15vmin solid var(--primary);
  color: var(--primary);
}

.card .container .action-btn a:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
}
/* Responsiveness - Start */

@media only screen and (max-width: 700px) {
  .events-content .section-heading {
    font-size: 4vw;
  }

  .events-content .events-type-description {
    font-size: 2.5vw;
  }

  .events-content .events-card-container .card {
    width: 80vw;
    margin-bottom: 6vmin;
  }

  .events-content .events-card-container .card img {
    width: 68vw;
  }

  .events-content .events-card-container .card .container p {
    font-size: 2.7vw;
  }

  .events-content .events-card-container .card .container h4 {
    font-size: 4.5vw;
  }

  .events-content .events-card-container .card .container .action-btn {
    margin: 4vmin 0 2vmin 0;
  }

  .events-content .events-card-container .card .container .action-btn a {
    font-size: 3.2vw;
  }

  .caraousel .card {
    width: 80vw;
  }

  .caraousel .container p {
    font-size: 2.7vw;
  }

  .caraousel .container h4 {
    font-size: 4.5vw;
  }

  .caraousel .container .action-btn {
    margin: 4vmin 0 2vmin 0;
  }

  .caraousel .container .action-btn a {
    font-size: 3.2vw;
  }
}

/* Responsiveness - End */

/* ============================================ EVENTS - END ============================================ */






/* ============================================ TEAM - START ============================================ */

.teams {
  background-color: var(--base);
  padding-top: 4vmin;
}

.teams-heading {
  width: 80vw;
  font-size: 4.2vw;
  font-weight: 900;
  color: crimson;
  text-align: center;
  background-color: var(--base);
  margin: 0 auto 0 auto;
}

.teams-sub-heading {
  width: 80vw;
  font-size: 1.3vw;
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
  margin: 0 auto 0 auto;
}

.teams-content {
  padding: 0 0 8vmin 0;
  background-color: var(--base);
}

.teams-content .section-heading {
  width: 80vw;
  margin: 5vmin auto 4vmin auto;
  font-size: 2vw;
  text-align: center;
  color: var(--primary);
  padding-top: 2vmin;
}


.teams-content .profile-card-container {
  width: 80vw;
  margin: 0 auto 2vmin auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  transition: 0.3s;
}

.teams-content .profile-card-container .profile {
  width: 22%;
  padding: 4vmin 0 0 0;
  border: 0.35vmin solid #171717;
  border: 0.3vmin solid var(--secondary);
  background-color: var(--base);
  color: var(--secondary);
  margin-bottom: 4vmin;
  margin-right: 4vmin;
  transition: all 0.5s ease 0s;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.teams-content .profile-card-container .profile .profile-photo img {
  display: inline-block;
  width: 55%;
  height: auto;
  margin: 3vmin auto 6vmin auto;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 0.7vmin var(--primary);
  transition: all 0.5s ease 0s;
  transform: scale(1);
}

.teams-content .profile-card-container .profile:hover .profile-photo img {
  transform: scale(1.15);
}

.teams-content .profile-card-container .profile .profile-info .title {
  color: var(--secondary);
  font-size: 1.4vw;
  font-weight: 400;
  text-align: center;
  margin: 0 0 1.5vmin 0;
}

.teams-content .profile-card-container .profile .profile-info .designation {
  color: var(--primary);
  font-size: 1.2vw;
  font-weight: 500;
  text-align: center;
  margin: 0 0 2.5vmin 0;
}

.social-icons {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  background-color: #171717;
}

.social-icons li a {

  text-decoration: none;
}

.social-icons li i {
  display: block;
  padding: 1.7vmin;
  font-size: 3.5vmin;
  color: var(--secondary);
  transition: all 0.5s ease;
}

.social-icons li i:hover {
  cursor: pointer;
  color: var(--primary);
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {

  .teams-heading {
    width: 80vw;
    font-size: 9vw;
    font-weight: 900;
    color: crimson;
    text-align: center;
    background-color: var(--base);
    margin: 0 auto 0 auto;
  }

  .teams-sub-heading {
    font-size: 3.6vw;
    font-weight: 500;
    line-height: 5vmin;
  }

  .teams-content .section-heading {
    font-size: 5vw;
  }

  .teams-content .profile-card-container {
    width: 80vw;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
  }

  .teams-content .profile-card-container .profile {
    width: 44%;
    margin-bottom: 6vmin;
  }

  .teams-content .profile-card-container .profile .profile-photo img {
    width: 20vw;
    margin-bottom: 4vmin;
  }

  .teams-content .profile-card-container .profile .profile-info .title {
    font-size: 3.2vw;
  }

  .teams-content .profile-card-container .profile .profile-info .designation {
    font-size: 3vw;
  }

  .social-icons li i {
    font-size: 4vmin;
  }
}

/* Responsiveness - End */

/* ============================================ TEAM - END ============================================ */






/* ============================================ FOOTER - START ============================================ */

footer {
  width: 100%;
  letter-spacing: 0.5px;
  background-color: #171717;
}

footer .prefooter {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: var(--secondary);
}

footer .prefooter .connect-us {
  width: 30%;
}

footer .prefooter .sub-prefooter {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .prefooter .direct-links .menu {
  list-style-type: none;
}

footer .prefooter .direct-links .menu li {
  margin: 0 0 1vmin 0;
}

footer .prefooter .direct-links .menu li a {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 300;
  color: var(--secondary);
  transition: all 0.5s ease 0s;
}

footer .prefooter .direct-links .menu li a:hover {
  color: var(--primary);
  cursor: pointer;
}

footer .prefooter .explore .menu {
  list-style-type: none;
}

footer .prefooter .explore .menu li {
  margin: 0 0 1vmin 0;

}

footer .prefooter .explore .menu li a {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 300;
  font-weight: 300;
  color: var(--secondary);
  transition: all 0.5s ease 0s;
}

footer .prefooter .explore .menu li a:hover {
  color: var(--primary);
  cursor: pointer;
}

footer .prefooter .events .menu {
  list-style-type: none;
}

footer .prefooter .events .menu li {
  margin: 0 0 1vmin 0;

}

footer .prefooter .events .menu li a {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 300;
  font-weight: 300;
  color: var(--secondary);
  transition: all 0.5s ease 0s;
}

footer .prefooter .events .menu li a:hover {
  color: var(--primary);
  cursor: pointer;
}

footer .prefooter .explore,
footer .prefooter .events,
footer .prefooter .direct-links,
footer .prefooter .connect-us {
  padding: 4vmin 0;
}

footer .prefooter .explore h3,
footer .prefooter .events h3,
footer .prefooter .direct-links h3,
footer .prefooter .connect-us h3 {
  padding: 0 0 2vmin 0;
  font-size: 1.2vw;
  font-weight: 600;
}

footer .prefooter .connect-us p {
  font-size: 1vw;
  font-weight: 300;
  margin: 0 0 1vmin 0;
}

footer .prefooter .connect-us a {
  font-size: 1vw;
  font-weight: 300;
  color: var(--secondary);
  text-decoration: none;
}

footer .prefooter .connect-us a:hover {
  color: var(--primary);
  cursor: pointer;
}

footer .prefooter .connect-us i {
  color: var(--secondary);
  margin: 0 1vmin 0 0;
  font-size: 1vw;
}



footer .prefooter .connect-us .socials i {
  color: var(--secondary);
  margin: 2vmin 2vmin 0 0;
  font-size: 1vw;
}

footer .prefooter .connect-us .socials i:hover {
  color: var(--primary);
  cursor: pointer;
  position: relative;
  bottom: 1px;
}

footer .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #171717;
}

footer .footer p {
  color: var(--secondary);
  width: 100%;
  padding: 3vmin 0;
  text-align: center;
  font-size: 1vw;
}

footer .footer i {
  color: var(--secondary);
  font-size: 1vw;
}

/* Responsiveness - Start */

@media only screen and (max-width: 700px) {
  footer .prefooter {
    justify-content: center;
    flex-wrap: wrap;
  }

  footer .prefooter .sub-prefooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  footer .prefooter .explore,
  footer .prefooter .events,
  footer .prefooter .direct-links,
  footer .prefooter .connect-us {
    width: 80%;
    text-align: center;
  }

  footer .prefooter .connect-us {
    margin-top: 2vmin;
  }

  footer .prefooter .explore h3,
  footer .prefooter .events h3,
  footer .prefooter .direct-links h3,
  footer .prefooter .connect-us h3 {
    font-size: 3vw;
  }

  footer .prefooter .direct-links .menu li,
  footer .prefooter .explore .menu li,
  footer .prefooter .events .menu li {
    margin: 0 0 0vmin 0;
  }

  footer .prefooter .direct-links .menu li a,
  footer .prefooter .explore .menu li a,
  footer .prefooter .events .menu li a {
    font-size: 2.5vw;

  }

  footer .prefooter .connect-us p,
  footer .prefooter .connect-us a {
    font-size: 2.5vw;
    line-height: 4.5vmin;
    margin: 0;
  }

  footer .prefooter .connect-us i {
    font-size: 2.5vw;
  }

  footer .prefooter .connect-us .socials i {
    margin: 4% 2vmin 0 2vmin;
    font-size: 3vw;
  }

  footer .footer p {
    font-size: 1.8vw;
  }

  footer .footer i {
    font-size: 1.8vw;
  }

}

/* Responsiveness - End */

/* ============================================ FOOTER - END ============================================ */







/* Media Queries for Screen Size 480px, 768px, 1200px devices. */
/* ============================================== Certificate ============================================*/
.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,html
{
    background-color: #000000;
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 43%;
  background-color: #000000;
}

.iframe-container iframe {
  position: absolute;
  top: 0.5vh;
  width: 99.8%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  .iframe-container {
    padding-bottom: 90%;
  }
}

/* ======================================alumni connect====================================== */
.alumni-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.alumni-table {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  gap: 25px;
  text-align: left;
}

.alumni-table th,h1 {
  color: #F1B900;
  text-align: center;
}

.alumni-table a, a:visited {
  color: #ffffff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 16px;
}

.alumni-table a:hover {
  color: #F1B900;
}

table {
  border-collapse: collapse;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

td, th {
  border: 1px solid #F1B900;
  padding: 10px;
}

.add-alum {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2vmax;
  font-weight: bolder;
  letter-spacing: 0.5px;
  padding: 0.7vmax 1vmax;
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
  align-self: flex-end;
  margin-right: 5vw;
  margin-top: 2vh;
}

.add-alum:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.add-alum a, a:visited {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .alumni-connect {
    font-size: 10px;
  }
  .alumni-connect a{
    font-size: 10px;
  }

  .tdBefore {
    color: #F1B900;
  }

  .responsiveTable tbody tr {
    border: 1px solid #F1B900 !important;
  }

  .add-alum a {
    font-size: 14px
  }
}