/* ============================================ BASIC SETUP, FONTS & COLORS - START ============================================ */

:root {
  --base: black;
  --primary: #F1B900;
  --secondary: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hind:wght@300;400;500;600;700&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes fadeInOut {
  0%,
  100% {
    transform: translateY(-0.3rem);
  }

  50% {
    transform: translateY(0.3rem);
  }
}

/* ============================================ BASIC SETUP, FONTS & COLORS - END ============================================ */


/* ============================================ MOUSE FOLLOWER - START ============================================ */

.mf-cursor-text {
  font-size: 0.9rem;
  font-style: italic;
  font-family: 'Akaya Telivigala', cursive;
  font-weight: 100;
  color: black;
}

.mf-cursor {
  background-color: white !important;
  color: white !important;
  border-color: white !important;
}

/* ============================================ MOUSE FOLLOWER - END ============================================ */